.about {
  scroll-snap-align: start;
  height: 100vh;
  max-width: 100%;
  @supports (-webkit-overflow-scrolling: touch) {
    height: calc(var(--vh, 1vh) * 100);
  }
  color: rgba(255, 255, 255, 0.9);

  position: relative;

  --unlock-height: 1.5rem;
  --unlock-padding: var(--rhythm);
  @media (min-width: 36rem) and (min-height: 30rem) {
    --unlock-height: 2.5rem;
    --unlock-padding: calc(2 * var(--rhythm));
  }

  margin-top: calc(-1 * var(--header-height));
  padding-top: var(--header-height);
  padding-bottom: calc(var(--unlock-height) + var(--unlock-padding));

  &:after {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    transition: transform 0.1s ease;
    bottom: 0;
    font-size: var(--unlock-height);
    font-weight: var(--headerWeight);
    line-height: var(--unlock-height);
    padding: var(--unlock-padding);
    text-align: center;
    white-space: nowrap;
    content: "scroll to unlock";

    @supports (-webkit-text-fill-color: transparent) {
      // https://css-tricks.com/slide-to-unlock/
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

      background-color: rgba(255, 255, 255, 0.5);
      background-image: linear-gradient(
        to top,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.75) 25%,
        rgba(255, 255, 255, 1) 50%,
        rgba(255, 255, 255, 0.75) 75%,
        rgba(255, 255, 255, 0) 100%
      );
      background-size: 100% 75%;
      background-repeat: no-repeat;

      @keyframes unlock {
        0% {
          background-position: 0% 300%;
        }
        100% {
          background-position: 0% -200%;
        }
      }
      animation: unlock 3s infinite;
    }
  }
}

.about-layout {
  color: var(--bodyColor);
  display: grid;
  position: relative;
  border-radius: calc(0.75 * var(--rhythm));

  max-height: calc(100% - var(--rhythm));
  overflow-y: scroll;

  grid-template-columns: 2fr 1fr;
  grid-template-areas:
    "header header"
    "text profile";
  @media (min-width: 36rem) {
    grid-template-columns: 5fr 1fr;
  }

  padding: calc(0.5 * var(--rhythm)) var(--rhythm);
  grid-gap: var(--rhythm) calc(0.5 * var(--rhythm));

  transition: background-color 0.2s ease, transform 0.2s ease;
  background-color: rgba(196, 196, 196, 0.9);
  @supports (backdrop-filter: blur(10px)) {
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(10px);
  }
  &:hover {
    background-color: rgba(196, 196, 196, 0.8);
    @supports (backdrop-filter: blur(10px)) {
      background-color: rgba(255, 255, 255, 0.5);
    }
    transform: scale(0.995);
  }
  &:active {
    transform: scale(0.99);
  }

  &__header {
    grid-area: header;

    margin: calc(-0.5 * var(--rhythm)) calc(-1 * var(--rhythm));
    padding: calc(0.5 * var(--rhythm)) calc(1 * var(--rhythm));
    border-top-left-radius: calc(0.75 * var(--rhythm));
    border-top-right-radius: calc(0.75 * var(--rhythm));

    background-color: rgba(255, 255, 255, 0.4);

    h2 {
      font-size: 1em;
      margin-bottom: 0;
      font-weight: 300;
      text-transform: uppercase;
      color: var(--bodyColor);
      opacity: 0.8;
    }
  }

  &__profile {
    grid-area: profile;

    border-radius: 0.25rem;
    box-shadow: var(--boxShadowLg);

    &,
    img {
      width: unset !important;
      height: unset !important;
    }
  }

  &__text {
    grid-area: text;
    display: flex;
    flex-direction: column;

    p {
      margin-bottom: calc(0.5 * var(--rhythm));
    }

    .lead {
      font-weight: normal;
    }
  }

  .action-btn {
    margin-top: auto;
    font-size: 80%;
    a {
      &:before {
        content: "Tap to ";
      }
      &:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
      }

      text-decoration: none;
      transition: box-shadow 0.2s ease;
      box-shadow: inset 0px -2px 0px -1px rgba(0, 0, 0, 0);
      &:hover {
        box-shadow: inset 0px -2px 0px -1px var(--bodyColor);
      }
      color: var(--bodyColor);
      opacity: 0.8;
    }
  }
}
