.about-layout {
  background-color: red;

  &__header {
    position: relative;
    padding-bottom: 75px;

    &:after {
      content: "";
      background-image: url("./1999-welcome.gif");
      background-repeat: no-repeat;
      background-size: contain;

      position: absolute;
      height: 50px;
      width: 100%;
    }
  }
}
