.main {
  grid-column: fullWidth;
}

.navbar {
  scroll-snap-align: start;
  height: 100vh;
  @supports (-webkit-overflow-scrolling: touch) {
    height: calc(var(--vh, 1vh) * 100);
  }

  position: relative;
}

.navlist {
  height: 100%;
  width: 100%;

  --icon-padding: 1rem;
  --icon-size: 4rem;
  --line-height: 1.8rem;
  @media (min-width: 60rem) {
    --icon-padding: 2rem;
    --icon-size: 5rem;
    --line-height: 2rem;
  }

  line-height: var(--line-height);
  font-size: calc(var(--line-height) / 2);
  --row-height: calc(var(--icon-size) + var(--line-height));

  display: grid;
  padding: calc(var(--icon-padding) / 2);
  gap: 0 var(--icon-padding);
  grid-template-columns: 1fr 1fr 1fr 1fr;
  @media (min-width: 60rem) {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding: calc(2 * var(--icon-padding));
    gap: var(--icon-padding);
  }
  grid-template-rows: repeat(auto-fill, minmax(var(--row-height), 1fr));
  align-items: center;
  justify-items: center;

  list-style-type: none;
  margin: 0;

  li {
    margin: 0;
    text-align: center;
    position: relative;
  }

  &__link {
    color: white;
    text-decoration: none;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);

    &:before {
      content: "";
      display: block;
      width: var(--icon-size);
      height: var(--icon-size);
      border-radius: calc(var(--icon-size) / 4);
      background-color: var(--gray);
      box-shadow: 0 0 calc(var(--icon-size) / 2) rgba(0, 0, 0, 0.2);
    }

    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
    }

    &--about:before {
      background-image: url("./ios7.about.svg");
    }
    &--positions:before {
      background-image: url("./ios7.positions.svg");
    }
    &--education:before {
      background-image: url("./ios7.education.svg");
    }
    &--projects:before {
      background-image: url("./ios7.projects.svg");
    }
    &--skills:before {
      background-image: url("./ios7.skills.svg");
    }
    &--contact:before {
      background-image: url("./ios7.contact.svg");
    }
  }
}
