& {
  --navBarWidth: 5em;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Comic Sans MS", serif;
    &::first-letter {
      font-size: 2em;
    }
  }

  //imports...
  @import "../components/layout/styles.1999.scss";
  @import "../pages/index.1999.scss";
  @import "../components/resume/About/styles.1999.scss";
  @import "../components/resume/NavBar/styles.1999.scss";
  @import "../components/resume/Contact/styles.1999.scss";
  @import "../components/resume/Education/styles.1999.scss";
  @import "../components/resume/Positions/styles.1999.scss";
  @import "../components/resume/Projects/styles.1999.scss";
  @import "../components/resume/Skills/styles.1999.scss";
  // @import "../components/PostPreview/styles.1999.scss";
}
