// -- Typography Opt-In --
html.twenty-nineteen,
html.ios7 {
  @import "./normalize.css.scss";
  @import "./typography.js.scss";
}

// -- Themed Imports --
html {
  @import "./all.scss";
}
html.twenty-nineteen {
  @import "./2019.scss";
}
html.ios7 {
  @import "./ios7.scss";
}

// -- Utilities --
.visually-hidden-text {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
