& {
  // variables
  --lightblue: #38cbf8;
  --darkblue: #3c81fa;
  --yellow: #f8c731;
  --green: #3cd86d;
  --orange: #f69124;
  --red: #f53034;
  --raspberry: #f51f55;
  --gray: #8e8e93;

  // typography.js overrides
  --bodyFontFamily: "Helvetica Neue", "Lato", sans-serif;
  --headerFontFamily: "Helvetica Neue", "Lato", sans-serif;
  --headerWeight: 100;
  --bodyWeight: 300;

  --scale55: 3rem;
  --scale35: 1.93318rem;
  --scale25: 1.55185rem;
  --scale05: 1rem;
  --scale-15: 0.80274rem;
  --scale-25: 0.71922rem;

  // imports
  @import "../components/layout/styles.ios7.scss";
  @import "../pages/index.ios7.scss";
  @import "../components/resume/About/styles.ios7.scss";
  @import "../components/resume/NavBar/styles.ios7.scss";
  @import "../components/resume/Contact/styles.ios7.scss";
  @import "../components/resume/Education/styles.ios7.scss";
  @import "../components/resume/Positions/styles.ios7.scss";
  @import "../components/resume/Projects/styles.ios7.scss";
  @import "../components/resume/Skills/styles.ios7.scss";
  @import "../components/PostPreview.ios7.scss";
  @import "../components/utilities/RequestSensorPermission.ios7.scss";
}
