*,
*:before,
*:after {
  box-sizing: border-box;
}

&,
body {
  min-width: 300px;

  /* The scroll-behavior-polyfill variable tells the polyfill whether to activate */
  --scroll-behavior-polyfill: smooth;
  --scroll-behavior: var(--scroll-behavior-polyfill);
  /* The scroll-behavior-css variable tells the browser whether to natively smoothscroll */
  scroll-behavior: var(--scroll-behavior-css, smooth);

  @media (prefers-reduced-motion: reduce) {
    --scroll-behavior: auto;
    scroll-behavior: auto;
  }
}

.layout {
  max-width: 40rem;
  &--home {
    max-width: 60rem;
  }
  margin: 0 auto;
  padding: 0 var(--rhythm);
}

.page-header {
  position: relative;
  display: grid;
  align-items: center;
  grid-template-columns: 2fr 1fr;
  @media (min-width: 30rem) {
    grid-template-columns: 3fr 1fr;
  }
  grid-gap: var(--rhythm);
  padding: var(--rhythm) 0;
  margin-bottom: var(--rhythm);
  &--home {
    margin-bottom: unset;
  }

  z-index: 5;

  h1 {
    white-space: nowrap;
    margin-bottom: 0;
    @media (max-width: 30rem) {
      font-size: 1.4em;
    }
  }
}
