& {
  background-color: blue;
  background-image: url("./1999-stars.jpg");
  // background-image: url("./sparkle.gif");
  background-attachment: fixed;
  color: yellow;

  a:hover {
    font-style: italic;
  }
}

.page-header {
  h1 {
    &:before {
      content: "welcome to the";
    }
    &:after {
      content: "home page";
    }

    &:before,
    &:after {
      display: block;
      font-style: italic;
    }
    a {
      font-size: 2em;
    }
  }
}

.layout {
  &--home {
    margin-left: var(--navBarWidth);
    min-width: 500px;
  }

  &:after {
    content: "design of this page is best enhanced with Netscape";
  }
}
