@import "./index.shared.scss";

.main {
  --section-rhythm: calc(2 * var(--rhythm));
  h2 {
    text-align: center;
  }

  @media (min-width: 36rem) {
    --section-rhythm: calc(4 * var(--rhythm));
    h2 {
      font-size: 2rem;
    }
  }
}
