.main {
  --section-rhythm: var(--rhythm);

  h2 {
    margin-bottom: var(--section-rhythm);
  }
  /* Each section has its own context, and its own big margins */
  & > nav {
    margin-bottom: var(--section-rhythm);
  }
  & > section {
    &[id] {
      /* We add an offset to ensure that the navbar has room atop the header */
      /* I'd love to use scroll-margin, but it just doesn't work in safari. */
      /* Plus, this way makes the navbar highlighting easier */
      margin-top: calc(-1 * var(--section-rhythm));
      margin-bottom: calc(-1 * var(--section-rhythm));
      padding-top: calc(1 * var(--section-rhythm));
      padding-bottom: calc(1 * var(--section-rhythm));

      /* for accessibility, we focus the header/section when we scroll to it. */
      /* However, the focus outline doesn't look good and isn't necessary in this context */
      /* https://css-tricks.com/focus-styles-non-interactive-elements/ */
      &:focus {
        outline: 0;
      }
    }
  }

  .navbar[data-current="contact"] ~ .back-to-top {
    transform: translateY(0);
    transition: transform 0.2s ease;

    &:hover {
      transform: translateY(-0.1em);
      box-shadow: var(--boxShadowSm);
    }
    &:active {
      transform: translateY(-0.05em);
      box-shadow: var(--boxShadowXs);
    }
  }

  .back-to-top {
    position: fixed;
    bottom: var(--rhythm);
    left: calc(var(--rhythm) / 2);
    height: calc(2 * var(--rhythm));
    width: calc(2 * var(--rhythm));
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(var(--primary), 1);
    color: white;
    z-index: 1000;

    box-shadow: var(--boxShadowXs);
    transform: translateY(calc(var(--rhythm) * 4));

    transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out,
      box-shadow 0.2s ease-in-out;

    &__text {
      display: none;
    }
  }
}
