.positions {
  background-color: orange;
  color: red;

  & > header {
    display: flex;
    justify-content: space-between;
    &:after {
      content: "";
      background-image: url("./1999-work.gif");
      background-repeat: no-repeat;
      background-size: contain;

      height: 75px;
      width: 75px;
    }
  }
}
