.positions {
  text-align: center;
  max-width: 100%;

  h2 {
    font-size: 1.31951rem;
  }
}

.position-company-logos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: var(--rhythm);
  @media (min-width: 36rem) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  justify-items: center;
  align-items: center;

  &__link {
    /* Size In Grid */
    position: relative;

    width: 7em;
    height: 2.5em;

    /* Position of Children */
    .mask,
    img {
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      margin-bottom: 0;
    }

    /* Establishing Masks */
    @supports (mask-size: contain) {
      .mask {
        mask-repeat: no-repeat;
        mask-position: center center;
        mask-size: contain;

        background-color: rgba(14, 30, 37, 0.66);
        &.microsensor {
          mask-image: url("logo-microsensor.svg");
        }
        &.uc {
          mask-image: url("logo-uc.svg");
        }
        &.bosch {
          mask-image: url("logo-bosch.svg");
        }
        &.bmw {
          mask-image: url("logo-bmw-mask.svg");
        }
      }

      // Hover Animation
      img,
      .mask {
        transition: opacity 0.2s ease-in-out;
      }

      img {
        opacity: 0;
      }

      box-shadow: none;
      &:hover {
        box-shadow: none;
        img {
          opacity: 1;
        }
        .mask {
          opacity: 0;
        }
      }
      &:active {
        box-shadow: none;
        img {
          opacity: 0.5;
        }
        .mask {
          opacity: 1;
        }
      }
    }
  }
}
