.contact {
  grid-column-start: full-start;
  grid-column-end: full-end;
  background-color: purple;
  a {
    color: red;
    &:visited {
      color: green;
    }
  }

  .contact-list {
    list-style-type: none;
    padding-left: 0;

    &__item {
      display: inline-block;
      margin-right: 16px;

      position: relative;
      width: 100px;
      height: 100px;
      a {
        position: absolute;
        width: 100%;
        height: 100%;
        &:before {
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;

          background-repeat: no-repeat;
          background-position: center;
        }
      }

      &--email a:before {
        background-image: url("1999-email.gif");
      }
      &--linkedin a:before {
        background-image: url("1999-linkedin.gif");
      }
      &--facebook a:before {
        background-image: url("1999-facebook.gif");
      }
      &--instagram a:before {
        background-image: url("1999-instagram.gif");
      }

      svg {
        display: none;
      }

      .visually-hidden-text {
        height: initial;
        width: initial;
        margin: initial;
        clip: initial;
      }
    }
  }
}
